@model HireFire.Core.Entity.Buyer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h4>Buyer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JoiningDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastActiveTimeInfo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastActiveTimeInfo)
            </dd>
    
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.UserName }) |
        @Html.ActionLink("Back to List", "Index")*@
    </p>
</body>
</html>
