@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout.Dashboard.cshtml";
}



@section head{


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HireFire | Starter</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="~/Contents/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/Contents/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="~/Contents/bower_components/Ionicons/css/ionicons.min.css">
        <!-- Morris charts -->
        <link rel="stylesheet" href="~/Contents/bower_components/morris.js/morris.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/Contents/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="~/Contents/dist/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js does not work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <style>
            .example-modal .modal {
                position: relative;
                top: auto;
                bottom: auto;
                right: auto;
                left: auto;
                display: block;
                z-index: 1;
            }

            .example-modal .modal {
                background: transparent !important;
            }
        </style>
    </head>
}









<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--
        <section class="content-header">
          <iframe name="contentFrame" frameborder="0" width="100%" height="475" src="gigs.html"></iframe>

        </section>
    -->
    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="/seller/AllGigs" target="contentFrame">
                    <div class="info-box" style="cursor:pointer;">
                        <span class="info-box-icon bg-green"><i class="fa  fa-hand-paper-o"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">ALL GIGS</span>
                            <span class="info-box-number">@ViewBag.gigcount</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
                <!-- /.info-box -->
            </div>
            <a href="/seller/TopGigs" target="contentFrame">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box" style="cursor:pointer;">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-hand-peace-o"></i></span>

                        <div class="info-box-content">
                            <br/>
                            <span class="info-box-text">TOP 5 GIGS</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-cyan"><i class="fa  fa-clock-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Working Hours</span>
                        <span class="info-box-number">@ViewBag.workingHour</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-usd"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Last Month<br>Income</span>
                        <span class="info-box-number">@ViewBag.lastMonthIncome</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <a href="/seller/TopBuyer" target="contentFrame">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box" style="cursor:pointer;">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-hand-peace-o"></i></span>

                        <div class="info-box-content">
                            <br/>
                            <span class="info-box-text">Top Buyer</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-hand-peace-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Your Level</span>
                        <span class="info-box-number">@ViewBag.level</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-hand-peace-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Reputation point<br /></span>
                        <span class="info-box-number">@ViewBag.reputationPoint</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>


        </div>
        <!--        Iframe-->
        <!--Iframe ends        -->

        <hr style="border-color: blue">
        <hr style="border-color: blue">



        <div id="Table">
            <div class="row" style="height: 100%; margin: 2px;">

                <iframe src="" name="contentFrame" frameborder="0" style="outline: none; display: block; width: 100%; height: 800px;" onload="AutoScroll()"></iframe>
            </div>
        </div>


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section javascript{

    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/Contents/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Contents/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/Contents/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Contents/bower_components/morris.js/morris.min.js"></script>
    <!-- FastClick -->
    <script src="~/Contents/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Contents/dist/js/adminlte.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->




    <script>


    function hide() {
        document.getElementById("promotion").innerHTML = "";
    }

    function add() {
        document.getElementById("promotion").innerHTML = "";
    }

    function Withdraw() {
        document.getElementById("promotion").innerHTML = "" +
        "<div class='modal modal-info fade in' id='modal-info' style='display: block; padding-right: 17px;'>" +
          "<div class='modal-dialog'>" +
            "<div class='modal-content'>" +
              "<div class='modal-header'>" +
                "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                  "<span aria-hidden='true' onclick='hide()'>×</span></button>" +
                "<h4 class='modal-title'>Withdraw</h4>" +
              "</div>" +
              "<div class='modal-body'>" +
                "<p>Current Balance: 120000<br/></p>" +
                "<p><input placeholder='Withdraw Ammount' style='color:black'</p>" +
              "</div>" +
              "<div class='modal-footer'>" +
                "<button type='button' class='btn btn-outline pull-left' data-dismiss='modal' onclick='hide()'>Close</button>" +
                "<button type='button' class='btn btn-outline'  onclick='add()'>Withdraw</button>" +
              "</div>" +
            "</div>" +
            "<!-- /.modal-content -->" +
          "</div>" +
          "<!-- /.modal-dialog -->" +
        "</div>";
    }




    </script>
   
}

